<div class="container">
  <div class="row">
    <div class="col-md-12">
<table class="table table-striped align-middle table-bordered align-content-center text-center mt-5">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Degree</th>
    <th scope="col">Gender</th>
    <th scope="col">Resume</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of dataSource; let i = index;">
    <th scope="row">{{user.id}}</th>
    <td class="">{{user.firstName}}</td>
    <td>{{user.age}}</td>
    <td>{{user.graduation}}</td>
    <td>{{user.gender}}</td>
    <td><button class="text-primary"
      mat-button
      (click)="viewResume(user.resume)"
      *ngIf="user.resume"
    >View Resume</button></td>
  </tr>
  </tbody>
</table>
<!--      <div *ngFor="let can of dataSource">{{can.id}}</div>-->
<!--      <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination justify-content-end">-->
<!--          <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--          <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--        </ul>-->
<!--      </nav>-->
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span>
          Displaying
          {{ (currPage - 1) * pageSize + 1 }}
          -
          {{ currPage * pageSize > dataSource.length ? dataSource.length : currPage * pageSize }}
          of {{ dataSource.length }}
        </span>

        <nav>
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currPage === 1">
              <button class="page-link" (click)="previousPage()">Previous</button>
            </li>
            <li
              class="page-item"
              *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="currPage === i + 1"
            >
              <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
            </li>
            <li class="page-item" [class.disabled]="currPage === totalPages">
              <button class="page-link" (click)="nextPage()">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
