/* You can add global styles to this file, and also import other style files */
/*@import "bootstrap/dist/css/bootstrap.css";*/
@import "assets/boot5/css/bootstrap.min.css";
html, body { height: 100%; }
body { body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Default Bootstrap font stack */
  font-size: 14px; /* Default Bootstrap font size */
  line-height: 1.428;
  color: #333;
}
}
